<div class="container">
  <div class="columns">
    <% @places.each do |place| %>
    <div class="column">
      <figure class="image is-square">
        <img src='<%= place.image %>' alt='<%= place.name %>'> 
      </figure><br>
      <p class="title is-5"><%= place.name %></p>
      <p>Город:<b><%= place.city %></b></p>
      <p>Рейтинг: <b class="has-text-danger"><%= place.rating %></b></p><br>
      <p><%= place.description[0..50].strip + '...' %></p><br>
      <a href="places/<%= place.id %>">Читать далее</a>
    </div>
    <% end %>
    </div>
</div>
