<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>restorator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <%= partial 'header' %>
    <section class="section">
      <% if @error %>
      <div class="container">
        <div class="notification is-danger" style="max-width: 700px; margin: 1em auto 1em auto;">
          <button class="delete"></button>
          <%= @error %>
        </div>
      </div>
      <% end %>
      <% if flash[:notice] %>
      <div class="container">
        <div class="notification is-success" style="max-width: 700px; margin: 1em auto 1em auto;">
          <button class="delete"></button>
          <%= flash[:notice] %>
        </div>
      </div>
      <% end %>
      <%= yield %>
    </section>
    <%= partial 'footer' %>
  </body>
  <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      $notification = $delete.parentNode;
      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
  });
  </script>
</html>
