<div class="container">
  <p class="title is-2">
    <%= @place.name %>
  </p>
  <figure class="image is-16by9">
    <img src='/<%= @place.image %>' alt='<%= @place.name %>'> 
  </figure>
  <br>
  <p>
    Город:
    <b><%= @place.city %></b>
  </p>
  <br>
  <% if @average_rating %>
    <p>Рейтинг(на основе отзывов посетителей): 
    <b class="has-text-danger"><%= @average_rating %></b>
    </p>
  <% end %>
  <br>
  <p class="title is-4">О заведении</p>
  <p><%= @place.description %></p>
  <br>
  <p class="title is-4">Координаты</p>
  <iframe src="https://maps.google.com/maps?q=<%= @place.latitude %>%2C%20<%= @place.longitude%>&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
  <br>
  <br>
  <%= partial 'testimonials/all_testimonials' if @place.testimonials_count %>
  <%= partial 'testimonials/form' if current_user %>
</div>

